.footer__social-icon_inst::before {
  content: "";
  background-image: url("../../../../images/instagram_color_white.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 26px;
}
