.khan__buy-link {
  width: auto;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  height: 100%;
  cursor: pointer;
}

.khan__buy-link:hover {
  text-decoration: underline;
  transition: .5s;
}
